#btn button{
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-size: 1.7vh;
    cursor: pointer;
    margin: 5px;
    margin-left: 8px;
    border: none;
    border-radius: 5px;
}